.blockCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.width100 {
  width: 100%;
}

.width50 {
  width: 50%;
}

.errorMessage {
  color: var(--bs-form-invalid-border-color);
}

.flex {
  display: flex;
}

.flexEnd {
  display: flex;
  justify-content: end;
}

.dangerColor {
  color: red;
}
