@tailwind base;
@tailwind components;
@tailwind utilities;

.checkbox:indeterminate {
  --tw-bg-opacity: 1;
  background-color: transparent;
  background-repeat: no-repeat;
  animation: none;
  background-image: none;
}
